/*	!*height:1122px ;*!*/
/*}*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Myriad Pro Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff url(none);
}

table{
  line-height: 20px;
}

.container{
  width:794px;
  /*height:1122px ;*/
}

.std-img{
  padding-top:10px;
  text-align: center;
}


