*,html{
  scroll-behavior: smooth;
}
:root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
  scrollbar-width: thin !important;
}
/*  body{
  margin:0;
  overflow-x:hidden;
  width:100%;
  font-family: 'Kanit', sans-serif;
  }*/

/*DEFAULT*/
p{
  font-family: 'Kanit', sans-serif;
}
a{
  text-decoration:none;
}
li{
  list-style:none;
  padding:5px;
}
.title{
  font-size:2em;
  font-family: 'Archivo Black', sans-serif;
}
.sub-title{
  font-size:1em;
  font-family: 'Kanit', sans-serif;
  color:gray;
}
em{
  font-style:normal;
  color:#4033ff;
}
.btn1{
  padding:10px 20px;
  box-shadow:0px 3px 8px -3px rgba(1,1,1,0.5);
  outline:none;
  border:0;
  background:#fff;
  border-radius:20px;
  color:#4033ff;
  font-weight:400;
  text-align:center;
  transition:0.5s;
}
.btn1:hover{
  background-color:rgb(180, 205, 255);;
}
.btn2{
  padding:10px 20px;
  box-shadow:0px 3px 8px -3px rgba(1,1,1,0.5);
  outline:none;
  border:0;
  background:#4033ff;
  border-radius:20px;
  color:#fff;
  font-weight:400;
  text-align:center;
  transition:0.5s;
}
.btn2:hover{
  background:#3d35ec;
}
.banner{
  margin:auto;
  width:70%;
  text-align:center;
}
#scroll-up{
  position:fixed;
  bottom:2em;
  right:2em;
  background:#1e1e1e;
  width:20px;
  height:20px;
  text-align:center;
  color:#fff;
  padding:5px;
  border-radius:50%;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  z-index:999;
  display:none;
}
.inline-photo {
  opacity: 0;
  transform: translateY(4em) rotateZ(-0deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),opacity .3s .25s ease-out;
  will-change: transform, opacity;
}
.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-0deg);
}


/*LOADER*/
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #292970;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
}

.load {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #6767fa 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  font: 14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:0px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:0px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}



/*NAV-BAR*/
header{
  position:fixed;
  top:0;
  width:100%;
  z-index:9;
}

.topnav {
  overflow: hidden;
  width:70%;
  margin:auto;
  background-color: transparent;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition:0.5s;
}

.topnav .logo{
  float:left;
  font-family: 'Fredoka One', cursive;
  color:#fff;
  font-size:2em;
}

.active {
  color:gray;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color:rgb(180, 205, 255);
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav{
    background:#4033ff;
    width:100%;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
#navbar {
  background-color: #fff;
  position: fixed;
  top: -60px;
  width: 100%;
  display: block;
  z-index:9;
  box-shadow:0px 6px 16px -6px rgba(1,1,1,0.5);
  transition: top 0.3s;
}

#navbar a {
  float: right;
  display: block;
  color: #000;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar .logo{
  float:left;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.slide-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.slide-menu .dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


@media (max-width:600px){
  #navbar{
    display:none;
  }
}










.main{
  width:100%;
  height:12vh;
  /*background-image:url("../assets/img/pexels-stein-egil-liland-3374210.jpg");*/
  background-image: linear-gradient(180deg,#2B3990 10%,#0068AD 100%);
  background-size:100% 100%;
}

.main table{
  width:100%;
  height:100vh;
}

.main table td{
  width:50%;
}

.main table td img{
  width:80%;
  float:right;
  height:80%;
  margin-top:10%;
  pointer-events:none;
  --delay: 0s;
  animation: arrows 4s var(--delay) infinite ease-in;
}

@keyframes arrows {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}

.main table td section{
  margin:5%;
  color:#fff;
}

.main table td section .sub-title,.main table td section p{
  color:rgb(180, 205, 255);
}

@media (max-width:600px){
  .main table td{
    width:100%;
    display:block;
  }
  .main table td section{
    margin-top:20%;
  }
  .main table td img{
    width:60%;
    height:60%;
    margin-top:0%;
    pointer-events:none;
  }

}

.content-wrapper-sm {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.content-wrapper {
  position: relative;
  padding: 5rem 20%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.content-wrapper-lg {
  position: relative;
  padding: 12rem 20%;
  width: 100%;
  margin: 0 auto;
}

.contact-form .form-group {
  z-index: 1;
  margin-top: 1.5rem;
}

.contact-form .form-group input, .contact-form .form-group textarea {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #00d8b2;
  border-radius: 0;
  color: #00d8b2;
  outline: none;
  display: block;
  width: 100%;
}

.contact-form .form-group input:focus, .contact-form .form-group textarea:focus {
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-form .form-group input:focus ~ label,
.contact-form .form-group input:valid ~ label,
.contact-form .form-group textarea:focus ~ label,
.contact-form .form-group textarea:valid ~ label {
  top: -1.1rem;
  left: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.contact-form .form-group label {
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  color: #fefffe;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.contact-form .form-group textarea {
  resize: none;
}

#menu-button {
  cursor: pointer;
  padding: 0.5rem;
  display: block;
}

@media (min-width: 768px) {
  #menu-button {
    display: none;
  }
}

#menu-button .bar1, #menu-button .bar2, #menu-button .bar3 {
  width: 35px;
  height: 3px;
  background-color: #fefffe;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  transform: rotate(-45deg) translate(-8px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.main-nav {
  display: block;
  padding: 1rem 2rem;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: #111;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.main-nav > .content-wrapper-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-nav {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.main-nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.main-nav .nav-links {
  position: relative;
  top: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  overflow: hidden;
  height: 0;
  background: transparent;
}

@media (min-width: 768px) {
  .main-nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
}

.main-nav .nav-links li {
  margin: 1rem;
  text-align: center;
}

.main-nav .nav-links li a {
  color: #fefffe;
  display: block;
  text-decoration: none;
}
.link-color {
  color:#000000;
}
.main-nav .nav-open {
  position: absolute;
  top: 133%;
  width: 100%;
  display: block;
  height: auto;
  background: #111;
}

.main-nav .nav-open li {
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav .nav-open li a {
  padding: 2rem 0;
}

.fixed-nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: black;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);*/
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

header {
  position: relative;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header h1 {
  font-size: 3.25rem;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}

@media (min-width: 544px) {
  header h1 {
    font-size: 4.25rem;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 6.25rem;
  }
}

header h2 {
  font-weight: 300;
  font-size: 1.5rem;
}
