body {
    background: #f2f2f2;
}
.animate {
    transition: all 0.3s linear;
}
.text-center {
    text-align: center;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */


.buttonz {
    background: #1068af;
    color: #fff;

}
span.validate-tooltip {
    background: #D91717;
    width: 100%;
    display: block;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: -28px;
    transition: all 0.3s ease-in-out;
    -webkit-animation: tooltipanimation 0.3s 1;
    animation: tooltipanimation 0.3s 1;
}

.buttonz_login {
    background: #f79032;
    color: #fff;
}




.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.wrapper {
    width: 360px;
    background: #293894;
    margin: 7% auto;
    min-height: 200px;
    border: 1px solid #f3f3f3;
    color: white !important;

}
.wrapper .inner-warpper {
    padding:20px 30px 30px;
    box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
}
.wrapper .title {
    margin-top: 0;
}
.wrapper .supporter {
    margin-top: 10px;
    font-size: 14px;
    color: #8E8E8E;
    cursor: pointer;
}
.wrapper .remember-me {
    cursor: pointer;
}

.wrapper label[for="rememberMe"] {
    cursor: pointer;
}
.wrapper .signup-wrapper {
    padding: 10px;
    font-size: 14px;
    background: #EBEAEA;
}
.wrapper .signup-wrapper a {
    text-decoration: none;
    color: #7F7F7F;
}
.wrapper .signup-wrapper a:hover {
    text-decoration: underline;
}
@-webkit-keyframes tooltipanimation {
    from {
        margin-top: -28px;
    }
    to {
        margin-top: 0;
    }
}
@keyframes tooltipanimation {
    from {
        margin-top: -28px;
    }
    to {
        margin-top: 0;
    }
}
.direction {
    width: 200px;
    position: fixed;
    top: 120px;
    left: 20px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    background: #183e9b;
    padding: 10px;
    color: #fff;
}
@media (max-width: 480px) {
    .direction {
        position: static;
    }
}


/*advert*/
#ad-features{
    width:500px;
    height:250px;
    position:fixed;
    /*bottom: -100px;*/
    margin-bottom: 30px;
    right: 0px;
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
}

#ad-features img{
    width:100%;
    height:100%;
}

.ad-btn1{
    color: #ffffff;
    background: rgb(234, 7, 60);
    width:25px;
    height:25px;
    border-radius:50%;
    padding:5px;
    text-align:center;
    font-size:12px;
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
}



/*advert*/
#ad-features{
    width:500px;
    height:250px;
    position:fixed;
    /*bottom: -100px;*/
    margin-bottom: 30px;
    right: 0px;
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
}

#ad-features img{
    width:100%;
    height:100%;
}

.ad-btn1{
    color: #ffffff;
    background: rgb(234, 7, 60);
    width:25px;
    height:25px;
    border-radius:50%;
    padding:5px;
    text-align:center;
    font-size:12px;
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
}
