.bg-colorz table thead {
  background-image: linear-gradient(180deg,#2B3990 10%,#0068AD 100%);
  color: #fff;
}
.model_titles{
  background-image: linear-gradient(180deg,#2B3990 10%,#0068AD 100%);

  width:100%;
  padding-bottom: 3px;
}
.formz{
  padding: 25px;
  border: 1px solid #e3ebf4;
  background: #ffffff0d;
  display: flex;
  flex-wrap: wrap;
  margin-right: -.75rem;
  margin-left: -.75rem;
}
.break { page-break-before: always; }
.pic-container {
  width: 110px;
  height: 110px;
  /*border-radius: 100%;*/
  margin: 1px auto 20px;
}
.pic {
  width: 100px;
  height: 100px;
  /*border-radius: 100%;*/
  margin: auto;
  position: relative;
  top: 5px;
}
#clockin{
  background: #e9eeef;padding: 20px 10px;color: #192e7e; font-weight: 500;font-size: 18px;border: 1px solid #5f7dea3d;

}
#clockin:hover{
  background: #aad6ff;
  padding: 20px 10px;
  color: #f7f8fb;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #5f7dea3d;
}
#clockin:hover a{
  background: #aad6ff;
  padding: 20px 10px;
  color: #f7f8fb;
  font-weight: 500;
  font-size: 18px;

}

}

.feestable{

}
.pull-right{
  float:right;
}

.popover-x{
  display: none;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #fff;
}
section .page
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 800px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}
section .page .welcome
{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  border-top-left-radius:  5px;
  border-bottom-left-radius:  5px;
  background: #0D47A1;
  text-align: center;
  transition: 1s cubic-bezier(.95,.32,.37,1.31);
  z-index: 2;
}
section .page .welcome h2
{
  text-align: center;
  margin: 50px 0;
  font-family: "Esphimere", sans-serif;
  letter-spacing: 2px;
  color: #fff;
}
section .page .welcome p
{
  padding: 0 25px;
  text-align: center;
  font-family: "Esphimere", sans-serif;
  color: #fff;
  font-weight: 300;
}
section .page .welcome .sign_in
{
  margin: 30px 0;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  outline: none;
  border:none;
  background: transparent;
  border:1px solid #fff;
  font-family: "Esphimere", sans-serif;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: .5s;
}
section .page .welcome .btn
{
  position: absolute;
  top: 57.5%;
  left: 25%;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  outline: none;
  border:none;
  background: transparent;
  border:1px solid #fff;
  font-family: "Esphimere", sans-serif;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
section .page .welcome .btn.active
{
  opacity: 1;
  visibility: visible;
  transition: .5s;
  transition-delay: .5s;
}
section .page .welcome .sign_in.active
{
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: .5s;
  transition-delay: .5s;
}
section .page .sign_up
{
  position: absolute;
  top: 0;
  left: 300px;
  width: 500px;
  height: 100%;
  text-align: center;
  transition: 1s cubic-bezier(.95,.32,.37,1.31);
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
section .page .sign_up h2
{
  position: relative;
  margin: 50px 0;
  padding: 0;
  font-family: "Esphimere", sans-serif;
}

section .page .sign_up .up
{
  width: 150px;
  height: 40px;
  font-weight: 400;
  border:none;
  outline: none;
  background: #000;
  color: #fff;
  border-radius: 30px;
  transition: .5s;
  cursor: pointer;
}
section .page .sign_up .up:hover
{
  background: transparent;
  border:2px solid #000;
  color: #000;
  font-weight: 700;
}
section .page .welcome.active
{
  background: #000;
  color: #fff;
  left: 62.5%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 1s cubic-bezier(.95,.32,.37,1.31);
  z-index: 2;
}
section .page .sign_up.active
{
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 1s cubic-bezier(.95,.32,.37,1.31);
}
section .page .login
{
  position: absolute;
  top: 0;
  left: 300px;
  width: 500px;
  height: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}


section .page .login h2
{
  position: relative;
  margin: 50px 0;
  padding: 0;
  font-family: "Esphimere", sans-serif;
}
section .page .login input
{
  margin: 5px 0;
  width: 300px;
  height: 30px;
  font-family: "Esphimere", sans-serif;
  color: #000;
  font-weight: 700;
}
section .page .login input[type="email"],
section .page .login input[type="password"]
{
  border:none;
  outline: none;
  border-bottom: 1px solid #000;
  transition: .5s;
}
section .page .login input[type="email"]:focus,
section .page .login input[type="password"]:focus
{
  border-bottom-color: #2ecc71;
  transition: .5s;
}
section .page .login .in
{
  width: 150px;
  height: 40px;
  font-weight: 400;
  border:none;
  outline: none;
  background: #000;
  color: #fff;
  border-radius: 30px;
  transition: .5s;
  cursor: pointer;
}
section .page .login .in:hover
{
  background: transparent;
  border:2px solid #000;
  color: #000;
  font-weight: 700;
}
section .page .login.active
{
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s cubic-bezier(.95,.32,.37,1.31);
}
.boxed2 {
  border: 2px dashed blue;
  width: 300px;
  padding: 25px;
  margin: 35px;
}

.double-underline:after, .double-underline:before{
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color:black;
  display: block;
  height: 3px;
}


.card1 {
  display: grid;
  grid-column-gap: 1rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 2em;
  width: 50%;
}

.title {
  grid-area: title;
}

.details {
  grid-area: details;
}

.buttonzz {
  border-radius: 3px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 18px 32px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonzz span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonzz span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonzz:hover span {
  padding-right: 25px;
}

.buttonzz:hover span:after {
  opacity: 1;
  right: 0;
}


.bold {
  font-weight: 600;
}
hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*.menu-nav {*/
/*  background: #f7ffff;*/
/*  padding: 10px;*/
/*  border-radius: 3px;*/
/*  box-shadow: 0 0 10px 5px rgba(97, 97, 97, 0.16);*/
/*}*/
/*nav ul  {*/
/*  padding: 0 20px;*/
/*}*/

/*nav ul li {*/
/*  list-style-type: none;*/
/*  width: 200px;*/
/*}*/
/*nav ul a{*/
/*  display: flex;*/
/*  color: #224b4d;*/
/*  text-decoration: none;*/
/*  border-bottom: 1px solid #3c9999;*/
/*  padding-bottom: 4px;*/
/*  text-transform: capitalize;*/
/*  transition: 300ms all;*/
/*  padding: 15px;*/

/*}*/

button:active{top:1px;}

.nav{
  background-color:#f9fbfd;
  font-size:16px;

}
.nav-tabs li{display:inline;
  padding-right:50px;}
.nav-tabs li a{
  text-decoration:none;
  color:black;}

.nav-tabs li:hover a{color:#424240;
  background-color: #fff;
}

/*nav ul a span {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/

/*}*/
/*nav ul a:hover{*/
/*text-decoration: none;*/
/*  color: #000;*/
/*}*/
.box {

    position: relative;
    background: #f0f0f0;
    display: inline-block;
    cursor: pointer;
}

.box span {
    position: absolute;
    display: block;
    background: #000;
    -webkit-transition: all 0.125s linear;
    transition: all 0.125s linear;
}

.box .top,
.box .bottom {
    width: 100%;
    height: 5px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.box .left,
.box .right {
    width: 5px;
    height: 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.box .top {
    top: 0;
    left: 0;
    -webkit-transition-delay: 0.375s;
    transition-delay: 0.375s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.box .right {
    top: 0;
    right: 0;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.box .bottom {
    bottom: 0;
    right: 0;
    -webkit-transition-delay: 0.125s;
    transition-delay: 0.125s;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

.box .left {
    top: 0;
    left: 0;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
}

.box:hover .top {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.box:hover .right {
    -webkit-transition-delay: 0.125s;
    transition-delay: 0.125s;
}
.box:hover .bottom {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
.box:hover .left {
    -webkit-transition-delay: 0.375s;
    transition-delay: 0.375s;
}
.box:hover .top,
.box:hover .bottom {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.box:hover .left,
.box:hover .right {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;

  display: flex;

}
@media screen and (max-width: 700px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: .1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: .1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #f0f5f7, 0px 0px 0px 7px #fcfeff;
}
@media screen and (max-width: 400px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all .3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 20px;
  color: #0068AD;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 16px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 25px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 700px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 500;
  font-size: 18px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 19px;
  flex-shrink: 0;
  transition: all .3s;
}
@media screen and (max-width: 700px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 700px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}

.profile-card-social__item.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}
.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 400px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family:"Esphimere", sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}
@media screen and (max-width: 700px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 400px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 700px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card__button.button--blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.profile-card__button.button--gray {
  box-shadow: none;
  background: #dcdcdc;
  color: #142029;
}
.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all .3s;
}
@media screen and (max-width: 700px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 400px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family:"Esphimere", sans-serif;
  outline: none;
  transition: all .3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all .3s;
}
.user-line {
  margin: 50px 0;
  position: relative;
}
.user-line:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background: #324e63;
  background: radial-gradient(#324e63 40%, rgba(241, 212, 121, 0) 80%);
}

.event-title a:hover{
  text-decoration: none;
}

div.required label:after {
  content: " *";
  color: red;
}
@media screen and (max-width: 800px) {
  .col-mobile {
    flex: 50%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .col {
    flex: 100%;
    width: 100%;
  }
}
.shade {
  overflow: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.blackboard {
  position: relative;
  max-width: 800px;
  margin: 7% auto;
  border: tan solid 12px;
  border-top: #bda27e solid 12px;
  border-left: #b19876 solid 12px;
  border-bottom: #c9ad86 solid 12px;
  box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
  background-color: #333;
}

.blackboard:before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;

  background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
  border: #2c2c2c solid 2px;
  content: "Notice Board";
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2em;
  color: rgba(238, 238, 238, 0.7);
  text-align: center;

}

.form {
  padding: 70px 20px 20px;
}



/*sticky notes*/


/* Note styles */
.note-wrap {


  padding: 35px;
  margin: 0 22px 44px 22px;
  position: relative;
  font-size: 24px;
  vertical-align: top;
  display: inline-block;
  font-family: Englebert, Arial;
  color: #4b453c;
  background: #F7E999;
  line-height: 34px;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.note-wrap:before {
  display: block;
  content: "";
  background: rgba(227, 200, 114, 0.4);
  width: 130px;
  height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
  position: absolute;
  top: -13px;
  left: 50px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.note-wrap a {
  color: #6b824f;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.note-wrap a:hover {
  color: #D83A25;
}

.note-yellow {
  background: #F7E999;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.note-blue {
  background: #b9dcf4;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.note-pink {
  background: #FFBDA3;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.note-green {
  background: #CAF4B9;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
/* Form submit button */


/*
	A. Mini Reset
*/



::before,
::after {
  content: "";
}

.component {

}

.component ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.component a {
  color: #2c3e50;
  text-decoration: none;
}

.component .btn {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #2c3e50;
  margin-top: 100px;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  text-align: center;
  -webkit-transition: color 0.3s, border-color 0.3s;
  -moz-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
}

.component .btn:hover {
  border-color: #16a085;
  color: #16a085;
}

/* basic grid, only for this demo */
.component .align {
  clear: both;
  margin: 90px auto 20px;
  width: 100%;
  max-width: 1170px;
  text-align: center;
}

.component .align > li {
  width: 500px;
  min-height: 300px;
  display: inline-block;
  margin: 30px 20px 30px 30px;
  padding: 0 0 0 60px;
  vertical-align: top;
}

/* ///////////////////////////////////////////////////

HARDCOVER
Table of Contents

1. container
2. background & color
3. opening cover, back cover and pages
4. position, transform y transition
5. events
6. Bonus
	- Cover design
	- Ribbon
	- Figcaption
7. mini-reset

/////////////////////////////////////////////////////*/
/*
	1. container
*/
.book {
  position: relative;
  width: 160px;
  height: 220px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
	2. background & color
*/
/* HARDCOVER FRONT */
.hardcover_front li:first-child {
  background-color: #eee;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* reverse */
.hardcover_front li:last-child {
  background: #fffbec;
}

/* HARDCOVER BACK */
.hardcover_back li:first-child {
  background: #fffbec;
}

/* reverse */
.hardcover_back li:last-child {
  background: #fffbec;
}

.book_spine li:first-child {
  background: #eee;
}

.book_spine li:last-child {
  background: #333;
}

/* thickness of cover */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
  background: #999;
}

/* page */
.page > li {
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(to right, #e1ddd8 0%, #fffbf6 100%);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
}

/*
	3. opening cover, back cover and pages
*/
.hardcover_front {
  -webkit-transform: rotateY(-34deg) translateZ(8px);
  -moz-transform: rotateY(-34deg) translateZ(8px);
  transform: rotateY(-34deg) translateZ(8px);
  z-index: 100;
}

.hardcover_back {
  -webkit-transform: rotateY(-15deg) translateZ(-8px);
  -moz-transform: rotateY(-15deg) translateZ(-8px);
  transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
  -webkit-transform: rotateY(-28deg);
  -moz-transform: rotateY(-28deg);
  transform: rotateY(-28deg);
}

.page li:nth-child(2) {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}

.page li:nth-child(3) {
  -webkit-transform: rotateY(-32deg);
  -moz-transform: rotateY(-32deg);
  transform: rotateY(-32deg);
}

.page li:nth-child(4) {
  -webkit-transform: rotateY(-34deg);
  -moz-transform: rotateY(-34deg);
  transform: rotateY(-34deg);
}

.page li:nth-child(5) {
  -webkit-transform: rotateY(-36deg);
  -moz-transform: rotateY(-36deg);
  transform: rotateY(-36deg);
}

/*
	4. position, transform & transition
*/
.hardcover_front,
.hardcover_back,
.book_spine,
.hardcover_front li,
.hardcover_back li,
.book_spine li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

.hardcover_front {
  -webkit-transition: all 0.8s ease, z-index 0.6s;
  -moz-transition: all 0.8s ease, z-index 0.6s;
  transition: all 0.8s ease, z-index 0.6s;
}

/* HARDCOVER front */
.hardcover_front li:first-child {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}

.hardcover_front li:last-child {
  -webkit-transform: rotateY(180deg) translateZ(2px);
  -moz-transform: rotateY(180deg) translateZ(2px);
  transform: rotateY(180deg) translateZ(2px);
}

/* HARDCOVER back */
.hardcover_back li:first-child {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}

.hardcover_back li:last-child {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
}

/* thickness of cover */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before,
.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before,
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before,
.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
  position: absolute;
  top: 0;
  left: 0;
}

/* HARDCOVER front */
.hardcover_front li:first-child:after,
.hardcover_front li:first-child:before {
  width: 4px;
  height: 100%;
}

.hardcover_front li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_front li:first-child:before {
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_front li:last-child:after,
.hardcover_front li:last-child:before {
  width: 4px;
  height: 160px;
}

.hardcover_front li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}

.hardcover_front li:last-child:before {
  box-shadow: 0px 0px 30px 5px #333;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */
.hardcover_back li:first-child:after,
.hardcover_back li:first-child:before {
  width: 4px;
  height: 100%;
}

.hardcover_back li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.hardcover_back li:first-child:before {
  -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
  transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.hardcover_back li:last-child:after,
.hardcover_back li:last-child:before {
  width: 4px;
  height: 160px;
}

.hardcover_back li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.hardcover_back li:last-child:before {
  box-shadow: 10px -1px 80px 20px #666;
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

/* BOOK SPINE */
.book_spine {
  -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
  width: 16px;
  z-index: 0;
}

.book_spine li:first-child {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  transform: translateZ(2px);
}

.book_spine li:last-child {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  transform: translateZ(-2px);
}

/* thickness of book spine */
.book_spine li:first-child:after,
.book_spine li:first-child:before {
  width: 4px;
  height: 100%;
}

.book_spine li:first-child:after {
  -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
  transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book_spine li:first-child:before {
  -webkit-transform: rotateY(-90deg) translateZ(-12px);
  -moz-transform: rotateY(-90deg) translateZ(-12px);
  transform: rotateY(-90deg) translateZ(-12px);
}

.book_spine li:last-child:after,
.book_spine li:last-child:before {
  width: 4px;
  height: 16px;
}

.book_spine li:last-child:after {
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}

.book_spine li:last-child:before {
  box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
  -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
  transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}

.page,
.page > li {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.page {
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
  z-index: 10;
}

.page > li {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
}

.page > li:nth-child(1) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.page > li:nth-child(2) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.page > li:nth-child(3) {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.page > li:nth-child(4) {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.page > li:nth-child(5) {
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

/*
	5. events
*/
.book:hover > .hardcover_front {
  -webkit-transform: rotateY(-145deg) translateZ(0);
  -moz-transform: rotateY(-145deg) translateZ(0);
  transform: rotateY(-145deg) translateZ(0);
  z-index: 0;
}

.book:hover > .page li:nth-child(1) {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
  -webkit-transform: rotateY(-35deg);
  -moz-transform: rotateY(-35deg);
  transform: rotateY(-35deg);
  -webkit-transition-duration: 1.8s;
  -moz-transition-duration: 1.8s;
  transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
  -webkit-transform: rotateY(-118deg);
  -moz-transform: rotateY(-118deg);
  transform: rotateY(-118deg);
  -webkit-transition-duration: 1.6s;
  -moz-transition-duration: 1.6s;
  transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
  -webkit-transform: rotateY(-130deg);
  -moz-transform: rotateY(-130deg);
  transform: rotateY(-130deg);
  -webkit-transition-duration: 1.4s;
  -moz-transition-duration: 1.4s;
  transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
  -webkit-transition-duration: 1.2s;
  -moz-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

/*
	6. Bonus
*/
/* cover CSS */
.coverDesign {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.coverDesign::after {
  background-image: -webkit-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, transparent 100%);
  background-image: linear-gradient(-135deg, rgba(255, 255, 255, 0.45) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.coverDesign h1 {
  color: #fff;
  font-size: 2.2em;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 54% 0 0 0;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}

.coverDesign p {
  color: #f8f8f8;
  font-size: 1em;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}

.yellow {
  background-color: #f1c40f;
  background-image: -webkit-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
  background-image: -moz-linear-gradient(top, #f1c40f 58%, #e7ba07 0%);
  background-image: linear-gradient(to bottom, #f1c40f 58%, #e7ba07 0%);
}

.blue {
  background-color: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db 58%, #2a90d4 0%);
  background-image: -moz-linear-gradient(top, #3498db 58%, #2a90d4 0%);
  background-image: linear-gradient(to bottom, #3498db 58%, #2a90d4 0%);
}

.grey {
  background-color: #f8e9d1;
  background-image: -webkit-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
  background-image: -moz-linear-gradient(top, #f8e9d1 58%, #e7d5b7 0%);
  background-image: linear-gradient(to bottom, #f8e9d1 58%, #e7d5b7 0%);
}

/* Basic ribbon */
.ribbon {
  color: #fff;
  display: block;
  font-size: 0.7em;
  position: absolute;
  top: 11px;
  right: 1px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  -webkit-transform: rotateZ(45deg) translateZ(1px);
  -moz-transform: rotateZ(45deg) translateZ(1px);
  transform: rotateZ(45deg) translateZ(1px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
}
.ribbon.new {
  background: #63c930;
}
.ribbon.new:before, .ribbon.new:after {
  border-bottom: 20px solid #63c930;
}
.ribbon.bestseller {
  background: #c0392b;
}
.ribbon.bestseller:before, .ribbon.bestseller:after {
  border-bottom: 20px solid #c0392b;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  top: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
}

.ribbon::before {
  left: -20px;
  border-left: 20px solid transparent;
}

.ribbon::after {
  right: -20px;
  border-right: 20px solid transparent;
}

/* figcaption */
figcaption {
  padding-left: 40px;
  text-align: left;
  position: absolute;
  top: 0%;
  left: 160px;
  width: 310px;
}

figcaption h1 {
  margin: 0;
}

figcaption span {
  color: #16a085;
  padding: 0.6em 0 1em 0;
  display: block;
}

figcaption p {
  color: #63707d;
  line-height: 1.3;
}

/* Media Queries */
@media screen and (max-width: 37.8125em) {
  .align > li {
    width: 100%;
    min-height: 440px;
    height: auto;
    padding: 0;
    margin: 0 0 30px 0;
  }

  .book {
    margin: 0 auto;
  }

  figcaption {
    text-align: center;
    width: 320px;
    top: 250px;
    padding-left: 0;
    left: -80px;
    font-size: 90%;
  }
}




/*photobanner*/

/*.photobanner {
  height: 20px;
  width: 80px;
  margin-bottom: 80px;
}*/
/*keyframe animations*/
.first {
  -webkit-animation: bannermove 50s linear infinite;
  -moz-animation: bannermove 50s linear infinite;
  -ms-animation: bannermove 50s linear infinite;
  -o-animation: bannermove 50s linear infinite;
  animation: bannermove 50s linear infinite;
}

@keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5746px;
  }

}

@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5746px;
  }

}

@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5746px;
  }

}

@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5746px;
  }

}

@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5746px;
  }

}


/* ui_btn */
.ui_btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}
.b_lg {
  padding: 8px;
  font-size: 14px;
}
.b_primary {
  border: 1px solid #333;
}

/* formfield */
input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: snow;
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* container */
.container {
  display: flex;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  background-color: snow;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: hidden;
}

/* box */
.box {
  padding: 24px;
}
.box .head {
  margin-bottom: 16px;
  color: orangered;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* order_box */
.order_box {
  width: 260px;
}

/* order_list */
.order_list {
  height: 307px;
  overflow: auto;
}
.order_list li {
  display: flex;
  padding: 8px 0;
}
.order_list li + li {
  border-top: 1px solid #ccc;
}
.order_list .prod_img {
  font-size: 0;
}
.order_list .prod_info {
  padding: 0 8px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.order_list .prod_info .name {
  flex-grow: 1;
}
.order_list .prod_info .price {
  color: crimson;
  font-size: 14px;
  font-weight: bold;
}

/* total_price */
.total_price dd {
  text-align: right;
  color: crimson;
  font-size: 32px;
  font-weight: bold;
}

/* payment_box */
.payment_box {
  width: 340px;
  box-shadow: -1px 0 5px 1px #ccc;
  background: linear-gradient(
          0deg,
          rgba(230, 100, 101, 0.5),
          rgba(145, 152, 229, 0.5)
  );
  position: relative;
}
.payment_box .card_img {
  height: 180px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: crimson;
  overflow: hidden;
}
.payment_box .card_img:before,
.payment_box .card_img:after {
  content: "";
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(20, 0, 0, 0.1);
  position: absolute;
  z-index: 1;
}
.payment_box .card_img:before {
  top: 40%;
  right: -40%;
}
.payment_box .card_img:after {
  top: -40%;
  left: -40%;
}
.payment_box .card_img .fa-cc-visa {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
}
.payment_box .card_info {
  margin-top: 40px;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: relative;
  z-index: 2;
}
.payment_box .card_info dt {
  margin-bottom: 4px;
  color: lightgray;
  font-size: 12px;
  text-transform: uppercase;
}
.payment_box .card_info li {
  display: inline-block;
}
.payment_box .card_info li + li {
  margin-left: 4px;
}
.payment_box .number {
  margin-bottom: 12px;
}
.payment_box .expiration,
.payment_box .cvc {
  display: inline-block;
  width: calc(50% - 2px);
}
.payment_box .card_form {
  flex-grow: 1;
}
.payment_box .card_form .footer {
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
}



.submit-btn{
  background-color: #04529e;
}
