@font-face {
    font-family: 'Esphimere';
    src: url('esphimere/Esphimere.otf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Esphimere Bold';
    src: url('esphimere/Esphimere.otf') format('truetype');
    font-weight: normal;
}
